@use '_variables' as v;

.events_page {
    .events_page-search-panel {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .events_page-filters {
            display: flex;
            align-items: center;
            gap: 20px 40px;
            flex-wrap: wrap;
        }

        .events_page-select {
            min-width: 120px;

            svg {
                color: white;
                cursor: pointer;
            }

            input {
                color: white !important;
            }
        }

        .events_page-btn {
            border-radius: 0;
            width: 150px;

            @media screen and (max-width: 720px) {
                display: none;
            }
        }
    }

    .events_page-no-results {
        color: v.$gray;
        font-size: v.$font_size + 4;
        font-weight: 600;
        text-align: center;

        .events_page-no-results-icon {
            background-color: v.$gray_100;
            width: -webkit-max-content;
            width: -moz-max-content;
            width: max-content;
            border-radius: 50%;
            margin: 40px auto 20px;
        }
    }
}