@use '_variables' as v;

//Navbar
.navbar-left {
    border-right: 1px solid v.$gray_200;
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    max-width: 56px;
    background-color: v.$gray_100;
    padding-top: 20px;

    .navbar_logo {
        text-align: center;

        a {
            text-decoration: none;
            color: v.$orange;
            font-size: 30px;
            font-weight: 800;
            cursor: pointer;
        }
    }

    .navbar_item {
        position: relative;
        color: v.$gray;
        padding: 8px;
        margin: 0 8px 24px;
        border-radius: 8px;
        cursor: pointer;

        &:hover {
            color: v.$blue;
            background-color: v.$white;

            .navbar_item-popup {
                display: inline-block;
            }
        }

        &.navbar_item-active {
            background-color: v.$blue;

            path {
                stroke: v.$white;
            }
        }

        .navbar_item-popup {
            display: none;
            text-transform: capitalize;
            position: absolute;
            left: 50px;
            top: 10%;
            background-color: v.$white;
            color: v.$text_color;
            padding: 10px 15px;
            border-radius: 4px;
            box-shadow: 0 1px 17px 0 rgba(40, 44, 53, .1), 0 2px 4px 0 rgba(40, 44, 53, .1);
        }
    }
}