@use '_variables' as v;

.event_details {
    .event_hero-wrapper {
        background: url('../images/event_bg.svg') top / 100% no-repeat;

        .event_hero {
            padding-top: 32px;
            position: relative;
            display: flex;
            justify-content: center;

            img {
                height: auto;
                width: 100%;
                border-radius: 24px;
                position: static !important;
                max-width: 900px;

                @media (min-width: 960px) {
                    height: 470px;
                    width: auto;
                }
            }
        }
    }

    .event_details-wrapper {
        padding-top: 50px;
        margin: 0 auto;
        position: relative;
        display: flex;
        max-width: v.$max_container;

        .event_mainContent {
            max-width: 720px;
            white-space: pre-wrap;
            margin-bottom: 50px;

            p {
                font-size: v.$font_size + 4;
                margin: 24px 0;
            }

            .event_details-time {
                font-size: v.$font_size + 4;
                font-weight: 600;
                margin-bottom: 24px;
                margin-bottom: 24px;
            }

            .event_details-title {
                margin-bottom: 32px;
                font-size: v.$font_size * 4;
                line-height: v.$font_size * 4;
                font-weight: 800;
            }
        }

        .organizer {
            padding: 16px 24px;
            background-color: v.$gray_100;
            display: flex;
            align-items: center;
            gap: 24px;

            img {
                width: 54px;
                height: 54px;
                border-radius: 50%;
            }

            span {
                font-size: v.$font_size + 4;
            }
        }

        .event_section {
            margin: 48px 0;

            .event_section-header {
                font-size: v.$font_size * 2;
                margin-bottom: 20px;
            }

            .event_section-content {
                display: flex;
                align-items: center;
                gap: 16px;
                font-size: v.$font_size + 2;
                font-weight: 600;
            }
        }

    }

    .event_aside {
        max-width: 360px;
        margin-left: auto;
        padding-top: 64px;
        position: -webkit-sticky;

        .event_container {
            position: -webkit-sticky;
            position: sticky;
            top: 10%;
        }

        .event_ticket {
            padding: 16px;
            border: 3px solid v.$blue;
            border-radius: 10px;
            margin-bottom: 16px;

            .event_ticket-container {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 12px;

                .event_ticket-title {
                    font-weight: 600;
                    font-size: v.$font_size + 4;
                }

                .event_ticket-counter {
                    display: flex;

                    button {
                        background-color: v.$gray_300;
                        width: 32px;
                        height: 32px;
                        border-radius: 8px;
                        border: none;
                        font-size: v.$font_size + 4;
                        cursor: pointer;
                    }

                    span {
                        margin: auto;
                        font-size: v.$font_size + 4;
                        padding: 0 12px;
                    }
                }
            }

            .event_price {
                margin-top: 16px;
                display: flex;
                gap: 12px;

                span {
                    font-weight: 600;
                    font-size: v.$font_size + 4;
                }
            }
        }

        .reserve-button {
            width: 100%;
            max-width: 360px;
            padding: 12px 0;
        }
    }
}

//Comments
.event_comments {

    .comment {
        padding: 16px;
        margin-bottom: 10px;
        border-radius: 24px;
        border: 2px solid v.$gray_100;

        .comment_header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .comment_author {
                font-weight: 600;
                font-size: v.$font_size + 4;
                display: flex;
                align-items: center;
                gap: 10px;

                img {
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                }
            }
        }
    }

    .newcomment {
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 20px;

        textarea {
            box-sizing: border-box;
            padding: 16px;
            width: 100%;
            min-height: 100px;
            border-radius: 10px;
            border-color: v.$gray_300;
            font-size: v.$font_size + 4;

            &:focus {
                border-color: v.$blue;
                outline: none
            }
        }
    }
}