@use '_variables' as v;

.header_container {
    padding: 10px 8px 10px 24px;
    border-bottom: 1px solid v.$gray_100;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header_logo {
        a {
            text-decoration: none;
            color: v.$orange;
            font-size: 25px;
            font-weight: 800;
            cursor: pointer;
        }
    }

    .header_input {
        width: 100%;
        display: flex;
        align-items: center;
        border-radius: 100px;
        background-color: v.$gray_100;
        border: 1px solid v.$gray_300;
        margin-right: 16px;
        height: 44px;
        padding: 0 12px;
        margin: 0 44px;
        cursor: pointer;

        &:hover {
            box-shadow: rgba(30, 10, 60, 0.06) 0px 2px 8px, rgba(30, 10, 60, 0.08) 0px 4px 12px;
            border-radius: 100px;
        }

        span {
            opacity: 0.8;
        }

        img {
            margin-right: 10px;
        }
    }
}

.header_nav {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;

    .header_user_image {
        -o-object-fit: cover;
        object-fit: cover;
        cursor: pointer;
        padding: 0 8px;

        img {
            width: 25px;
            height: 25px;
            border-radius: 50%;
        }
    }
}