@use '_variables' as v;

.header_container {
    padding: 10px 8px 10px 24px;
    border-bottom: 1px solid v.$gray_100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 44px;
    z-index: 100;
    position: relative;
    background: v.$white;

    .header_logo {
        a {
            text-decoration: none;
            color: v.$orange;
            font-size: 25px;
            font-weight: 800;
            cursor: pointer;
        }
    }

    .header_input {
        width: 100%;
        display: flex;
        align-items: center;
        border-radius: 100px;
        background-color: v.$gray_100;
        border: 1px solid v.$gray_300;
        margin-right: 16px;
        height: 44px;
        padding: 0 12px;
        margin: 0 44px;
        cursor: pointer;
        max-width: 500px;

        &:hover {
            box-shadow: rgba(30, 10, 60, 0.06) 0px 2px 8px, rgba(30, 10, 60, 0.08) 0px 4px 12px;
            border-radius: 100px;
        }

        span {
            opacity: 0.8;
        }

        img {
            margin-right: 10px;
        }

        @media screen and (max-width:420px) {
            display: none;
        }
    }
}

.header_nav {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;

    @media screen and (max-width: 960px) {
        display: none;
    }
}

//User image
.header_user_image {
    -o-object-fit: cover;
    object-fit: cover;
    cursor: pointer;
    padding: 0 8px;

    img {
        width: 25px;
        height: 25px;
        border-radius: 50%;
    }
}

//Dashboard header
.header_usermenu {
    background-color: v.$gray_100;
    height: auto;
    border-radius: 30px;
    margin: 10px 8px 10px 24px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    position: relative;
    cursor: pointer;

    img {
        height: 25px;
        width: 25px;
        border-radius: 50%;
    }

    svg {
        width: 20px;
        height: 20px;
    }

    .nav_list {
        position: absolute;
        top: 60px;
        right: -10px;
        max-width: 500px;
        min-width: 170px;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        list-style-type: none;
        box-sizing: border-box;
        box-shadow: 0 1px 17px 0 rgba(40, 44, 53, .1), 0 2px 4px 0 rgba(40, 44, 53, .1);
        z-index: 100;
        background-color: v.$white;

        &.nav_list-open {
            display: block;
        }

        &.nav_list-close {
            display: none;
        }

        .nav_list-group {
            border-bottom: 2px solid v.$gray_200;
            gap: 15px;
        }

        .nav_list-item {
            padding: 16px 24px;
            font-weight: 600;
            font-size: v.$font_size + 2;
            color: v.$text_color;
            cursor: pointer;

            &:hover {
                background-color: v.$gray_100;
            }

            &.nav_list-item-disabled {
                cursor: not-allowed
            }

            a {
                color: v.$text_color;
                text-decoration: none;
                font-weight: 600;
                font-size: v.$font_size + 2;
            }
        }
    }

    .dropdown_arrow-open {
        rotate: 180deg;
    }
}