@use '_variables' as v;

@mixin section_padding {
    padding: 0 24px
}

//Banner

.banner_container {
    width: 100vw;
    height: auto;
    min-height: 125px;
    overflow: hidden;
    position: relative;


    img {
        -o-object-fit: cover;
        object-fit: cover;
        height: 100%;
        width: 100vw;
        -o-object-position: center;
        object-position: center;
    }

    .banner_content {
        padding: 0 60px;
        position: absolute;
        bottom: 24px;
    }
}

//Categories
.categories_container {
    padding: 36px 0;
    display: flex;
    gap: 57px;
    overflow-x: auto;
    overflow-y: hidden;
    max-width: 1272px;
    margin: 0 auto;

    a {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        cursor: pointer;

        &:first-child {
            margin-left: 25px;
        }

        &:hover {
            .category_wrapper {
                background: v.$light_blue;

                path {
                    fill: v.$blue;
                }
            }

            p {
                color: v.$blue;
            }
        }
    }

    p {
        font-weight: 600;
    }

    .category_wrapper {
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 107px;
        width: 107px;
        border-radius: 50%;
        background: #fff;
        margin-bottom: 10px;
        border: 1px solid v.$light_blue;

        svg {
            width: 48px;
            height: 48px;
        }
    }
}

//Events
.section_title {
    padding: 16px 40px;
}

.events_container {

    hr {
        margin: 0;
        border: none;
        height: 1px;
        background-color: v.$gray;
        opacity: 0.2;

    }

    .section_title {
        font-size: v.$font_size + 6;
        font-weight: 600;
        line-height: 24px;
        margin: 10px 0;
    }

    .events_navigation {
        display: flex;
        position: relative;
        margin-bottom: 0;
        list-style: none;
        padding: 16px 32px;

        li {
            margin: 0 8px;
            padding: 12px 0;
            font-weight: 600;
            color: v.$gray;
            letter-spacing: normal;
            cursor: pointer;
            font-size: v.$font_size + 2;

            &.tab-active {
                border-bottom: 2px solid v.$blue;
                color: v.$blue;
            }

            &:hover {
                color: v.$text_color;
                border-bottom: 2px solid v.$text_color;
            }
        }
    }

    .event_list-container {
        @include section_padding;
    }

    .events_list {
        padding-top: 24px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        @media screen and (max-width: 1200px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media screen and (max-width: 790px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media screen and (max-width: 620px) {
            grid-template-columns: repeat(1, 1fr);
        }

        .events_notfound {
            min-height: 150px;
            padding: 16px 16px;
            font-size: v.$font_size + 4;
        }

    }
}

.event_card {
    margin: 16px;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: visible;
    border-radius: 16px;
    cursor: pointer;
    text-decoration: none;
    color: v.$text_color;

    &.event_card-row {
        flex-direction: row;

        .event_image {
            max-width: 230px;
            padding-left: 20px;

            img {
                -o-object-fit: contain;
                object-fit: contain;
            }
        }
    }

    &:hover {
        box-shadow: 0px 2px 8px rgba(30, 10, 60, 0.06), 0px 4px 12px rgba(30, 10, 60, 0.08);
    }

    .event_image {
        max-height: 230px;
        position: relative;

        @media screen and (max-width: 620px) {
            min-height: 230px
        }

        img {
            border-radius: 4px;
            width: 100%;
            position: relative !important;
            -o-object-fit: cover;
            object-fit: cover;
        }
    }

    .event_details {
        padding: 8px 8px 16px 12px;

        h4,
        div {
            margin-top: 10px;
        }

        h4 {
            font-weight: 600;
            font-size: v.$font_size + 4;
        }

        .event_time {
            font-size: v.$font_size + 1;
            font-weight: 600;
        }
    }

    .event_label {
        background-color: v.$light_blue;
        line-height: 1.25rem;
        font-weight: 600;
        align-items: center;
        padding: 8px;
        border-radius: 8px;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
    }

    .event_billstatus {
        font-weight: 600;
    }
}