@use '_variables' as v;

.create_container {
    margin-left: 56px;
    display: flex;
}

.drawer__eds {
    width: 288px;
    background-color: v.$gray_100;
    height: 100vh;
    position: -webkit-sticky;
    position: sticky;
    top: 0;

    h3 {
        margin: 23px 16px 16px;
    }

    .drawer_list {
        list-style-type: none;

        .drawer_li-active {
            background-color: v.$gray_200;

            label {
                opacity: 1;
            }
        }

        label {
            display: flex;
            align-items: start;
            padding: 16px;
            gap: 16px;
            opacity: 0.5;

            input {
                min-width: 25px;
                height: 20px;
            }
        }

        .drawer_step {
            .drawer_step-title {
                font-weight: 600;
                margin-bottom: 8px;
            }
        }
    }
}

//Editor

.editor_body {
    min-height: 100vh;
}