@use '_variables' as v;

@mixin flex-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.create_container {
    margin-left: 56px;
    display: flex;
}

.drawer__eds {
    width: 288px;
    background-color: v.$gray_100;
    height: 100vh;
    position: -webkit-sticky;
    position: sticky;
    top: 0;

    h3 {
        margin: 23px 16px 16px;
    }

    .drawer_list {
        list-style-type: none;

        .drawer_li-active {
            background-color: v.$gray_200;

            label {
                opacity: 1;
            }
        }

        label {
            display: flex;
            align-items: flex-start;
            padding: 16px;
            gap: 16px;
            opacity: 0.5;

            input {
                min-width: 25px;
                height: 20px;
            }
        }

        .drawer_step {
            .drawer_step-title {
                font-weight: 600;
                margin-bottom: 8px;
            }
        }
    }
}

//Editor

.editor_container {
    display: flex;
    flex-direction: column;
    width: 100%;

    .editor_body {
        min-height: 100vh;
        max-width: 742px;
        margin: 0px auto 20px;
        padding: 48px 80px;

        .editor_section-gray {
            border: 2px solid v.$gray_200;
            border-radius: 15px;
            margin-bottom: 25px;
            width: auto;
            overflow: hidden;
            position: relative;
            padding: 25px;

            &:hover {
                border: 2px solid v.$blue;
            }

            .editor_upload-icon {
                position: absolute;
                top: 10px;
                right: 10px;
                z-index: 10;
                cursor: pointer;

                .icon {
                    @include flex-centered;
                    width: 36px;
                    height: 36px;
                    font-size: v.$font_size * 3;
                    color: v.$blue;
                    background-color: v.$gray_100;
                    border-radius: 50%;
                    padding: 0 1px 2px;

                    &.icon-close {
                        color: v.$gray_800;
                        font-size: v.$font_size * 1.6;
                        padding: 0;
                    }

                    &.icon-ok {
                        background-color: v.$green;
                        color: v.$white;
                        font-size: v.$font_size * 2;
                        font-weight: 800;
                    }
                }
            }

            &.rich_text {
                overflow: visible;

                h2 {
                    font-size: v.$font_size * 2;

                    span {
                        font-size: v.$font_size * 2;
                    }
                }

                h3 {
                    font-size: v.$font_size + 5;

                    span {
                        font-size: v.$font_size + 5;
                    }
                }

                h5 {
                    font-size: v.$font_size + 2;

                    span {
                        font-size: v.$font_size + 2;
                    }
                }

                .link-modal {
                    height: auto;

                    input {
                        padding: 5px 10px;
                    }

                    .rdw-link-modal-target-option {
                        display: flex;
                        align-items: center;

                        input {
                            width: 30px;
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }

        .editor_picture {
            position: relative;
            padding: 0;

            input[type="file"] {
                opacity: 0;
                position: absolute;
                top: 0;
                height: 100%;
                width: 100%;
                z-index: 20;
                cursor: pointer;
            }

            .editor_upload-picture {
                background-color: rgba(v.$white, .5);
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                z-index: 5;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                .editor_upload-picture-text {
                    z-index: 10;
                    background-color: v.$white;
                    color: v.$blue;
                    font-weight: 600;
                    font-size: v.$font_size + 3;
                    padding: 20px;
                    border-radius: 10px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                    text-align: center;
                    font-style: normal;

                    .editor_upload-picture-icon {
                        background-color: v.$gray_100;
                        border-radius: 50%;
                        padding: 10px;
                    }
                }
            }
        }

        .editor_title {
            h1 {
                font-size: v.$font_size * 3;
                font-weight: 800;
                line-height: 4rem;
                margin-bottom: 35px;
            }

            h3 {
                font-size: v.$font_size + 8;
                font-weight: 800;
                margin-bottom: 15px;
                margin-top: 15px;
            }

            p {
                font-size: v.$font_size + 2;
                margin-bottom: 20px;
            }

            input {
                margin-bottom: 20px;
                padding: 15px 10px;
                font-size: v.$font_size + 2;
                font-weight: 400;
                border-radius: 10px;
                border: 2px solid v.$gray_300;
                width: 95%;
            }

            hr {
                height: 2.5rem;
                opacity: .5;
            }

            &.editor_title-flex {
                display: flex;
                align-items: flex-start;
                gap: 50px;

                .editor_date-and-location {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                }

                .editor-date {
                    display: flex;
                    gap: 16px;
                }
            }
        }

        .swiper-wrapper {
            width: auto;
            height: 350px;
        }

        .swiper_slide {
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                -o-object-fit: cover;
                object-fit: cover;
                -o-object-position: center;
                object-position: center;
            }

            &.event_image {
                height: 350px;
                width: auto;
                position: relative;
            }
        }

        .swiper-pagination-bullet {
            width: 30%;
            border-radius: 0;
            background-color: v.$white;
            height: 5px;
        }
    }

    .editor_footer {
        position: -webkit-sticky;
        position: sticky;
        bottom: 0;
        display: flex;
        justify-content: flex-end;
        background-color: v.$white;
        z-index: 20;

        .editor_button {
            border-radius: 5px;
            margin: 20px;
        }
    }
}

.editor-class {
    background-color: v.$gray_100;
    padding: 5px 10px;
    min-height: 100px;

    span {
        font-size: inherit;
    }
}