//Colors
$text_color: #39364f;
$gray_100: #f8f7fa;
$gray_200: #efedf2;
$gray_300: #dbdae3;
$orange: #d1410c;
$white: #ffff;
$blue: #3659e3;
$light_blue: #dee5ff;
$gray: #6f7287;

//Fonts
$font_size: 12px;

//Sizes 
$max_container: 1200px